.friend {
  min-height: 65px;
  max-height: 65px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.ProfileInfo {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.ProfileImg img {
  align-self: center;
  border-radius: 50%;
  min-height: 50px;
  max-height: 50px;
}

.ProfileName h3 {
  margin: 0;
}

.ProfileName {
  padding: 5px 0 0 10px;
}

.followBtn {
  align-self: center;
}

.followBtn button {
  border: 0px solid #fff;
  border-radius: 4px;
  font-size: 15px;
  min-width: 100px;
  max-width: 100px;
  min-height: 40px;
  max-height: 40px;
  position: relative;
}

.followBtnUnf {
  background-color: rgb(240, 159, 209);
}

.userLink {
  text-decoration: none;
  color: #000;
}

.followBtn + .ooo button::before {
  content: url("./../../../assets/small-preloader.svg");
  z-index: 3;
  position: absolute;
  left: -25px;
  /* left: 200px; */
  top: calc(50% - 12px);
}

.btnBefore {
  display: none;
  color: #fff;
}
