.notFoundPage {
	border: 1px solid rgb(255, 188, 225);
    border-radius: 5px;
    padding: 30px 10px 50px;
}

.notFoundPage div {
    margin: 0 auto;
    text-align: center;

}

.notFoundPage b {
    font-size: 110px;
    color: rgb(255, 89, 180);
}

.notFoundPage p {
    font-size: 60px;
    color: rgb(255, 89, 180);
    margin: 0;
}