.pages{
    display: flex;
    align-items: center;
}

.pages span {
    display: inline-block;
    text-align: center;
    padding: 4px;
    min-width: 25px;
    min-height: 25px;
}
  
.active {
    font-weight: bold;
    background-color: rgb(255, 148, 148);
    border-radius: 50%;
}