.nav {
}

.navElementLink {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  max-width: 150px;

  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3px;
  width: 100%;
}
.active {
  background-color: #fff;
}

.navElementLink p {
  margin: 0;
  margin-left: 10px;
}

.navElementLink:hover {
  background-color: rgb(226, 226, 226);
}

.navElementLink svg {
  color: rgb(192, 92, 154);
}

.navElementIcon {
  display: flex;
  top: -1px;
  position: relative;
}
