.friendsInfo,
.usersInfo {
  background-color: rgb(255, 239, 251);
  min-height: 50px;
  max-height: 50px;
  padding-left: 30px;
  align-items: center;
  border-radius: 4px;
  display: flex;
  margin-bottom: 4px;
}

.usersInfo h3 {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  align-self: center;
}

.pages span {
  display: inline-block;
  text-align: center;
  padding: 4px;
  min-width: 25px;
  min-height: 25px;
}

.active {
  font-weight: bold;
  background-color: rgb(255, 148, 148);
  border-radius: 50%;
}

.preloader {
  display: flex;
  justify-content: space-around;
}
