.chat {
  margin-left: 5px;
  background-color: #fff;
  box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
  display: grid;
  grid-template-rows: 1fr 50px;
  border-radius: 3px;
  max-height: 90vh;
}

.chatArea {
  max-height: 70vh;
}

.createMessage {
  background-color: #eee;
  min-height: 30px;
  display: grid;
  grid-template-columns: 1fr 30px;
  border-top: 1px solid rgb(202, 202, 202);
}

.message {
  align-self: center;
  margin-left: 20px;
  min-width: 80%;
  max-width: 90%;
}

.messageInput {
  background-color: #fff;
  border: 3px solid rgb(112, 112, 112);
  border-radius: 10px;
  border: none;
  height: 32px;
  min-width: 100%;
  outline: 0;
  line-height: 32px;
  padding-left: 15px;
  border: 1px solid rgb(202, 202, 202);
}

.messageInput::placeholder {
  color: #212529;
  opacity: 0.4;
}

.sendMessageBtn {
  align-self: center;
  margin-right: 10px;
}

.sendMessageBtn svg {
  color: rgb(192, 92, 154);
}

/* Messages */

.chatArea {
  display: flex;
  flex-direction: column;
}
