* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 990px;
  margin: 0 auto;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 163px 1fr;
  grid-gap: 2px;
}

.active.navLink {
  background-color: rgb(226, 226, 226);
}

/* profile edit mode */

.profile-edit-mode-enter {
  opacity: 0;
}
.profile-edit-mode-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.profile-edit-mode-exit {
  opacity: 1;
}
.profile-edit-mode-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}